---
layout: default
---

<h2>Hello!</h2>
<p>Here are some things I've written.</p>

<ul id="posts">
<% @site.posts.each do |post| %>
  <li>
    <a href="<%= post.url %>"><strong><%= post.title %></strong></a>, <%= post.summary[0].downcase + post.summary[1..-1] %> <time datetime="<%= post.date.strftime('%Y-%m-%d') %>">(<%= post.date.strftime('%B %d, %Y') %>)</time>
  </li>
<% end %>
</ul>
