---
layout: default
---

<article class="post selected">
<h2><%= @this.title %></h2>
<p class="date">Posted <time datetime="<%= @this.date.strftime('%Y-%m-%d') %>"><%= @this.date.strftime('%b %d, %Y') %></p>

<%= @this.markdown %>

<p class="summary">I was <%= (@this.date.to_i - Time.mktime(1977, 3, 10).to_i) / 31557600 %> when this post was made.</p>
</article>