---
layout: default
---

<h2><%= page.title %></h2>
<p class="summary"><%= page.summary %></p>
<time datetime="<%= page.date.strftime('%Y-%m-%d') %>">Posted <%= page.date.strftime('%B %d, %Y') %></time>

<%= yield %>
