---
layout: default
---

<h2><%= @this.title %></h2>

<% @posts.each do |post| %>
<article class="post">

<h3><%= post.title %></h2>
<p class="date">Posted <time datetime="<%= post.date.strftime('%Y-%m-%d') %>"><%= post.date.strftime('%b %d, %Y') %></p>

<%= post.markdown %>
</article>
<% end %>
